.Rproj.user
.Rhistory
.RData
.Ruserdata
/additional_literature
/2019_bigdata_biogeography_lectures
/inst
/example_data
/shared_big_data_biogeography2019
*.pptx
/docs/2019_bigdata_biogeography_lectures
/docs/additional_literature
/docs/example_data
/docs/inst
/docs/literature
/docs/shared_big_data_biogeography2019
/docs/list_of_participants.csv
/docs/BSM_inputs_file.RData
/docs/RES*
changes_for_next_time.Rmd